* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-fill: #f0b863;
    --color-fill: #98c5a7;
    --color-fill: #929292;
    --color-fill: #ffc31f;
    --color-fill: #ff8686;
    --color-fill: #80b7ff;
}

body {
    overflow: hidden;
    height: 100%;
    background: linear-gradient(100deg, white, rgba(128, 128, 128, 0.138));
    background-size: cover;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

::-webkit-scrollbar {
    display: none;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.clock {
    width: 20rem;
    height: 20rem;
    background: white;
    /* opacity: 0.9; */
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: 0px 0px 50px rgba(197, 197, 197, 0.4);
    z-index: 1;
}

.clock-container {
    position: relative;
    margin: 150px auto;
    display: flex;
    justify-content: center;
}

.clock-frame {
    width: 28rem;
    height: 28rem;
    border-radius: 50%;
    align-self: center;
    position: absolute;
    background: white;
    border: 10px solid rgb(231, 231, 231, 0.2);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    /* box-shadow: 0 15px 100px rgba(121, 121, 121, 0.1) */
}

.hour {
    color: var(--color-fill);
    margin: auto 0;
    /* border: 1px solid orange; */
    font-size: 75px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, monospace, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: ease 1s;
    -webkit-transition: ease 1s;
    -moz-transition: ease 1s;
    -ms-transition: ease 1s;
    -o-transition: ease 1s;
}
 
.minute-container {
    position: absolute;
    /*border: 1px solid darkkhaki;
    */width: inherit;
    height: inherit;
    transition: linear 0.6s;
    -webkit-transition: linear 0.6s;
    -moz-transition: linear 0.6s;
    -ms-transition: linear 0.6s;
    -o-transition: linear 0.6s;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

.minute {
    width: 65px;
    height: 65px;
    margin: 25px auto;
    background-color: var(--color-fill);
    /* background-color: white; */
    border-radius: 50%;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: linear 0.6s;
    -webkit-transition: linear 0.6s;
    -moz-transition: linear 0.6s;
    -ms-transition: linear 0.6s;
    -o-transition: linear 0.6s;
}

.minute p {
    color: var(--color-fill);
    color: white;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, monospace, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.second-container {
    position: absolute;
    /*border: 1px solid rgb(189, 107, 107);
    */width: inherit;
    height: inherit;
    /* transition: linear 1s;
    -webkit-transition: linear 1s;
    -moz-transition: linear 1s;
    -ms-transition: linear 1s;
    -o-transition: linear 1s;
    */
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

.second {
    width: 20px;
    height: 20px;
    margin: -10px auto;
    background-color: var(--color-fill);
    /* border: 2px solid var(--color-fill); */
    border: 2px solid white;
    border-radius: 50%;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
}

.color-container{
    display: flex;
    flex-direction: column;
    position: relative;
}

/* choose color button */
.choose-color {
    align-self: center;
    padding: 15px 35px;
    margin-top: -30px;
    color: white;
    background: var(--color-fill);
    border: none;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

/* .choose-color:hover {
    color: white;
    background-color: var(--color-fill);
    border: 2px solid white;
} */

/* select color panel */
.pick-color {
    background-color: white;
    width: 400px;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow:  0px 5px 20px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: ease 1s;
    -webkit-transition: ease 1s;
    -moz-transition: ease 1s;
    -ms-transition: ease 1s;
    -o-transition: ease 1s;
    align-self: center;
    position: absolute;
    bottom: 70px;
    z-index: 10;
    display: none;
    justify-content: space-evenly;
}

/* set of available colors */
.colors {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    box-shadow: inset 0 0 0 5px white;
    transition: ease 0.2s;
    -webkit-transition: ease 0.2s;
    -moz-transition: ease 0.2s;
    -ms-transition: ease 0.2s;
    -o-transition: ease 0.2s;
}

.colors:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

.colors:nth-child(1) {
    background-color: #98c5a7;
    border: 3px solid #98c5a7;
}
.colors:nth-child(2) {
    background-color: #f0b863;
    border: 3px solid #f0b863;
    margin-left: 10px;
}
.colors:nth-child(3) {
    background-color: #ff8686;
    border: 3px solid #ff8686;
    margin-left: 10px;
}
.colors:nth-child(4) {
    background-color: #ffc31f;
    border: 3px solid #ffc31f;
    margin-left: 10px;
}
.colors:nth-child(5) {
    background-color: #929292;
    border: 3px solid #929292;
    margin-left: 10px;
}
.colors:nth-child(6) {
    background-color: #80b7ff;
    border: 3px solid #80b7ff;
    margin-left: 10px;
}

.input-selection {
    border-top: 2px solid rgb(237, 237, 237);
    padding: 10px;
}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
}

.dim {
    position: absolute;
    /* width: 500%;
    height: 500%; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.4);
    z-index: 1;
    display: none;
}

.fade-in {
    animation: fadeIn 1s ease forwards;
    -webkit-animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    from { transform: scale(0); -webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); 
        opacity: 0;
    }
    to { transition: scale(1); -webkit-transition: scale(1); -moz-transition: scale(1); -ms-transition: scale(1); -o-transition: scale(1);
        opacity: 1;
        display: block;
    }
}


/* MOBILE VIEW */
@media only screen and (max-width: 550px){

    body {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }
    .container {
        margin: 20px auto;
    }

    .dim {
        position: fixed;
        right: -10%;
        left: -100px;
        bottom: -600px;
    }

    .clock-container {
        transform: scale(0.7);
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        margin-top: 60px;
    }

    .change-color {
        margin-top: -50px;
    }

    .pick-color {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        bottom: 40px;
    }
}

@media only screen and (max-height: 700px){
    .container {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        margin-top: -50px;
    }

    .choose-color {
        margin-top: -50px;
    }
}